header{
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header svg{
    height: 0.9em
}

header input, button{
    padding: 0.5em;
    outline: none;
    border: none;
}

header input{
    border-radius: 0.5em 0em 0em 0.5em ;
    margin-right: 3px;
}

header button{
    border-radius: 0em 0.5em 0.5em 0em ;
}